#left_side_bar, #tags_box, #dock_box, #generated_code_box {
  margin-top: 20px;
}

#left_side_bar {
  height: 600px;
}
#tags_box {
  height: 600px;
}
#dock_box {
	height: 600px;
}
#tags_box {
  height: 435px;
}

#generated_code_box {
  border: solid 1px #CCC;
  float: right;
  //width: 37.9%;
  height: 339px;
  overflow: auto;
  background: #000;
}
#output_box {
  border: solid 1px #ccc;
  float: right;
  //width: 37.9%;
  height: 250px;
}

#demo_page_title {
  width: 1270px;
  margin: 20px auto;
  margin-bottom: 0px;
}
#demo_page_title span {
  padding: 2px 4px;
  font-weight: bold;
  color: #fff;
  background-color: #A100FF;
  border-radius: 3px;
  font-size: 16px;
}